/* 상단에 큰 글씨 */
.top{
    height: 120px;
}
/* 작은 크기의 글씨, 3개의 박스를 담는 article */
.articl1{
    height: 6400px;
}
/* 상단 작은글씨 */
.articl1> .ment{
    width: 95%; height: 120px;
    margin-left: 2%;
    font-size: 0.7rem;
}
/* 상단 작은글씨 p태그 */
.articl1> .ment> p{
    height: 70%;
}
/* 상단 작은글씨 p태그중 첫번째 */
.articl1> .ment> p:first-child{
    height: 30%;
}
/* 네모 박스 중 위에있는박스 */
.articl1> .shadow> .origin{
    flex-wrap: wrap;
}
/* 박스안에 있는 ul */
.articl1> .shadow> .origin> ul{
    width: 100%; 
}
/* 첫번째 박스 중 뒤에있는 박스 */
.articl1> .sh3{
    height: 1960px;
}
/* 첫번째 박스 중 위에있는 박스 */
.articl1> .sh3> .ori3{
    height: 2000px;
}
/* 첫번쨰 박스 ul */
.articl1> .sh3> .ori3> ul{
    height: 600px;
}
/* 첫번쨰 박스의 두번째 ul */
.articl1> .sh3> .ori3> ul:nth-child(2){
    height: 700px;
}
/* 두번째 박스 뒤에있는 박스 */
.articl1> .sh4{
    top: 260px;
    height: 1840px;
}
/* 두번째 박스 위에 있는 박스 */
.articl1> .sh4> .ori4{
    height: 1870px;
}
/* 두번째 박스 ul */
.articl1> .sh4> .ori4> ul{
    height: 600px;
}
/* 세번째 박스 뒤에 있는 박스 */
.articl1> .sh5{
    top: 420px;
    height: 2160px;
}
/* 세번째 박스 위에 있는 박스 */
.articl1> .sh5> .ori5{
    height: 2200px;
}
/* 세번쨰 박스 ul */
.articl1> .sh5> .ori5> ul{
    height: 600px;
}
/* 세번째 박스 두번째 ul */
.articl1> .sh5> .ori5> ul:nth-child(2){
    height: 900px;
}
