/* 작은크기의 글씨와 사진과 글씨가 있는 3줄의 칸을 담는 길이 변경 */
.articl0{
    height: 6400px;
}
/* 상단에 두번째로 있는 작은 글씨 */
.articl0> .ment{
    width: 95%; height: 100px;
    margin-left: 2%;
    font-size: 0.7rem;
}
/* 박스중 위에 있는 박스 */
.articl0>.shadow>.origin{
    flex-wrap: wrap;
}
/* 박스 안에 사진과 글이 있는 ul */
.articl0>.shadow>.origin>ul{
    width: 100%;
}
/* 첫번째 박스 중 뒤에있는 박스 */
.articl0>.sh0{
    height: 1970px;
}
/* 첫번째 박스 중 위에있는 박스 */
.articl0>.sh0>.ori0{
    height: 2000px;
}
/* 첫번째박스 안에 ul과 두번째 박스 안에 첫번째 ul*/
.articl0>.sh0>.ori0>ul,
.articl0>.sh1>.ori1>ul:first-child{
    height: 680px;
}
/* 첫번째 박스 ul중 2번쨰 */
.articl0>.sh0>.ori0>ul:nth-child(2)
{
    height: 560px;
}
/* 두번째 박스 중 뒤에있는 박스 */
.articl0>.sh1{
    top: 260px;
    height: 1840px;
}
/* 두번째 박스 중 위에있는 박스 */
.articl0>.sh1>.ori1{
    height: 1870px;
}
/* 두번째 박스에 있는 ul */
.articl0>.sh1>.ori1> ul{
    height: 570px;
}
/* 두번째 박스 첫번째 ul */
.articl0>.sh1>.ori1> ul:first-child{
    height: 670px;
}
/* 세번째 박스 중 뒤에있는 박스 */
.articl0>.sh2{
    top: 420px;
    height: 2210px;
}
/* 세번째 박스 중 위에있는 박스 */
.articl0> .sh2> .ori2{
    height: 2240px;
}
/* 세번째 박스에 있는 ul */
.articl0> .sh2> .ori2> ul{
    height: 800px;
}
/* 세번째 박스에 있는 첫번째 ul */
.articl0> .sh2> .ori2> ul:first-child{
    height: 600px;
}