nav{
    width: 90%; height: 50px;
    border: 0px solid black;
}
nav> .logo{
    width: 60%;
}
nav>.logo>img{
    width: 100%; height: 100%;
}
nav> .emotion> li{
    width: 20%; height: 90%;
    border: 0px solid red;
    font-size: 1.2rem;
    line-height:40px;
}
nav> .emotion> li:first-child{
    margin-left: 10%;
}
nav> .menu{
    display: none;
}
.bar{
    position: absolute;
    top: 3px; left: 0;
    color: white;
    border: 0px solid white;
    display: inline-block;
    cursor: pointer;
}
.bar> .bar1,
.bar> .bar2,
.bar> .bar3{
    width: 40px; height: 5px;
    margin: 5px auto;
    background: black;
    transition: all 0.5s;
    border-radius: 10px;
}
.change> .bar1{
    transform: rotate(-45deg) translate(-9px, 7px);
}
.change> .bar2{
    opacity: 0;
}
.change> .bar3{
    transform: rotate(45deg) translate(-6px, -5px);
}
.at0{
    position: absolute;
    top: 0; left: 0;
    z-index: 3;
    width: 6%; height: 40px;
    border: 0px solid black;
    margin-left: 93%;
}
.at1{
    position: absolute;
    top: 50px; left: 0%;
    z-index: 2;
    width: 100%; height:600px;
    border: 0px solid black;
    background: black;
    color: white;
    text-indent: 10px;
}
.at1> .title{
    width: 100%; height: 50px;
    border: 0px solid white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 50px;
    margin-top: 10px;
    cursor: pointer;
}
.at1> .title> a{
    color: white;
}
.at1> .title:hover{
    font-size: 2rem;
}
.at1> p:first-child{
    margin-top: 50px;
}
.at1> .atMenu,
.at1> .atMenu> li> p{
    width: 100%;
    border: 0px solid red;
}
.at1> .atMenu> li{
    width: 100%; 
    cursor: pointer;
}
.at1> .atMenu> li:hover{
    font-weight: bold;
}
.at1> .atMenu> li> p> a{
    width: 100%;
    color: white;
    font-size: 1.2rem;
}
.top{
    height: 120px;
}
.articl1{
    height: 6400px;
}
.articl1> .ment{
    width: 95%; height: 120px;
    margin-left: 2%;
    font-size: 0.7rem;
}
.articl1> .ment> p{
    height: 70%;
}
.articl1> .ment> p:first-child{
    height: 30%;
}
.articl1> .shadow> .origin{
    flex-wrap: wrap;
}
.articl1> .shadow> .origin> ul{
    width: 100%; 
}
.articl1> .sh3{
    height: 1960px;
}
.articl1> .sh3> .ori3{
    height: 2000px;
}
.articl1> .sh3> .ori3> ul{
    height: 600px;
}
.articl1> .sh3> .ori3> ul:nth-child(2){
    height: 700px;
}
.articl1> .sh4{
    top: 260px;
    height: 1840px;
}
.articl1> .sh4> .ori4{
    height: 1870px;
}
.articl1> .sh4> .ori4> ul{
    height: 600px;
}
.articl1> .sh5{
    top: 420px;
    height: 2160px;
}
.articl1> .sh5> .ori5{
    height: 2200px;
}
.articl1> .sh5> .ori5> ul{
    height: 600px;
}
.articl1> .sh5> .ori5> ul:nth-child(2){
    height: 900px;
}
