/* 상단에 큰 글씨(REPAIR & CARE) */
.top{
    width: 100%; height: 70px;
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 70px; 
}
/* 작은크기의 글씨와 사진과 글씨가 있는 3줄의 칸을 담는 사이즈 */
.articl0{
    width: 100%;  height: 3000px;
    border: 0px solid black;
}
/* 상단에 두번째로 있는 작은 글씨: div class=ment */
.articl0>.ment{
    width: 100%; height: 70px;
    border: 0px solid black;
    margin-top: 20px;
}
/* 작은글씨 div 안에있는 2줄 글씨인 p태그 */
.articl0>.ment> p{
    width: 100%; height: 50%;
    text-align: center;
    font-size: 1.2rem;
    border: 0px solid black;
}
/* 사진과 글씨가 있는 네모박스 중 뒤에 있는 박스: 공통 div= shadow */
.articl0>.shadow{
    position: relative;
    width: 90%; 
    border: 0px solid black;
}
/* 사진과 글씨가 있는 네모박스 중 위에 있는 박스: 공통 div= origin  */
.articl0>.shadow>.origin{
    position: absolute;
    top: 20px;
    width: 100%; 
    display: flex;
    justify-content: space-around;
}
/* 사진과 글씨가 있는 네모박스 중 첫번째 줄에서 뒤에있는 박스 */
.articl0>.sh0{
    top: 80px; left: 5%;
    height: 760px;
    background: rgb(170, 143, 211);
}
/* 사진과 글씨가 있는 네모박스 중 첫번째 줄에서 위에있는 박스  */
.articl0>.sh0> .ori0{
    right: 3%;
    height: 800px;
    border: 1px solid black;
    background: rgb(205, 191, 224);
}
/* 사진과 글씨가 있는 네모박스 중 두번째 줄에서 뒤에있는 박스 */
.articl0>.sh1{
    top: 240px; left: 2%;
    height: 760px;
    background: rgb(170, 143, 211);
}
/* 사진과 글씨가 있는 네모박스 중 두번째 줄에서 위에있는 박스  */
.articl0>.sh1> .ori1{
    left: 3%;
    height: 800px;
    border: 1px solid black;
    background: rgb(205, 191, 224);
}
/* 사진과 글씨가 있는 네모박스 중 세번째 줄에서 뒤에있는 박스 */
.articl0>.sh2{
    top: 400px; left: 5%;
    height: 850px;
    background: rgb(170, 143, 211);
}
/* 사진과 글씨가 있는 네모박스 중 세번째 줄에서 위에있는 박스  */
.articl0>.sh2> .ori2{
    right: 3%;
    height: 890px;
    border: 1px solid black;
    background: rgb(205, 191, 224);
}
/* 사진과 글씨가 있는 네모박스안에 사진과 글씨가 들어간 ul */
.articl0>.shadow>.origin>ul{
    width: 20%; height: 100%;
    border: 0px solid black;
}
/* 사진과 글씨가 있는 네모박스안에 사진과 글씨가 들어간 ul 안에 li */
.articl0>.shadow>.origin>ul>li{
    width: 100%; height: 290px;
    border: 0px solid black;
}
/* 사진과 글씨가 있는 네모박스안에 사진과 글씨가 들어간 ul 안에 li중 마지막 li의 크기와 위치 */
.articl0> .sh0> .ori0> ul> li:last-child{
    height: 390px;
    margin-top: 20px;
}
/* 첫번째 줄에 있는 네모박스안에 사진과 글씨가 들어간 ul 안에 li중 마지막 li의 크기와 위치  */
.articl0> .sh1> .ori1> ul> li:last-child{
    height: 350px;
    margin-top: 20px;
}
/* 두번째 줄에 있는 네모박스안에 사진과 글씨가 들어간 ul 안에 li중 마지막 li의 크기와 위치  */
.articl0> .sh2> .ori2> ul> li:last-child{
    height: 450px;
    margin-top: 20px;
}
/* 네모박스안에 있는 사진의 크기 */
.articl0>.shadow>.origin>ul>li> img{
    width: 100%; height: 100%;
}
/* 네모박스안에 있는 동영상 크기 */
.articl0>.shadow>.origin>ul>li> video{
    width: 100%; height: 100%;
}
/* 네모박스 안에 있는 글씨  */
.articl0>.shadow>.origin>ul>li>p{
    width: 90%;
    margin-left: 5%;  
    text-align: center;
}
/* 네모박스 안에 있는 글씨 p태그중 첫번째 p태그 */
.articl0>.shadow>.origin>ul>li>p:first-child{
    font-weight: bold;
    font-size: 1.5rem;
}
/* 네모박스 안에 있는 글씨 p태그중 두번째 p태그 */
.articl0>.shadow>.origin>ul>li>p:nth-child(2){
    margin-top: 20px;
}
/* 네모박스 안에 있는 글씨중 두번째와 네번째 p태그의 글씨 */
.articl0>.shadow> .origin> ul> li> .text_bold{
    font-weight: bold;
    font-size: 1.1rem;
}
.at1{
    display: none;
}