* {
    margin: 0; padding: 0;
    list-style: none;
}
html, body {
    font-size: 16px; height: 100%;
}
/* 맨위 로고사진 있는 라인  */
nav{
    position: relative;
    top: 0; left: 0;
    width: 100%; height: 100px;
    border: 0px solid black;
    display: flex;
    z-index: 10;
}
/* 로고 사진 */
nav> .logo{
    width: 30%; height: 100%;
    border:0px solid #ccc;
}
nav>.logo> a> img{
    width: 50%; height: 60%;
    margin-top: 3%;
    margin-left: 12%;
}
/* 이모티콘 */
nav> .emotion{
    width: 70%; height: 50px;
    border: 0px solid black;
    display: flex;
}
nav> .emotion> li{
    width: 4%; height: 100%;
    border: 0px solid red;
    text-align: center;
    line-height: 50px;
    font-size: 1rem;
    cursor: pointer;
}
nav> .emotion> li:first-child{
    margin-left: 66%;
}
nav> .emotion> li:hover{
    color: red;
}
/* 맨위 메뉴 */
nav> .menu{
    position: absolute;
    top: 50px; left: 30%;
    width: 70%; height: 50px;
    border: 0px solid black;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden; 
    transition: all 0.5s;
}
nav> .menu:hover {
    height: 300px;
}
nav> .menu> li {
    width: 18%; height: 50px;
    border: 0px solid black;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
nav>.menu> li:hover{
    font-weight: bold;
}
nav>.menu> li:last-child:hover{
    font-weight: normal;
    cursor: default;
}
/* 탑다운 메뉴 */
nav>.menu> .sub{
    width: 100%; height: 290px;
    border: 0px solid black;
    display: flex;
    background: white;
}
nav>.menu> .sub> ul{
    width: 10%; height: 240px;
    border: 0px solid red;
    margin-left: 4%;
}
nav>.menu> .sub> ul:nth-child(2),
nav>.menu> .sub> ul:nth-child(3),
nav>.menu> .sub> ul:nth-child(4)
{
    margin-left: 8%;
}

nav>.menu> .sub> ul> li{
    width: 100%; height: 60px;
    border: 0px solid red;
    cursor: pointer;
}
nav>.menu> .sub> ul> li:hover{
    font-weight: bold;
}
a{
    text-decoration-line:none;
    color: black;
}
