/* 메인 화면 슬라이드 사진 사이즈와 위치 */
.picture{
    display: none;
}
.mobileverMain{
    display: block;
    width: 92%; height: 300px;
    margin-left: 4%;
}
.mobileverMain> img{
    width: 100%; height: 100%;
}
.new{
    margin-top: 60px;
}
/* men/women 크기 */
.gender{
    width: 70%;
}
/* 모바일버전일때 메인화면 상품 한개씩 보이게 하기 
 상품이 담겨있는 div*/
.men,
.women{
    top: 20px; left: 15%;
    width: 70%; height: 560px;
}
/* 상품 담겨있는 ul 사이즈 */
.men> .boy,
.women> .girl{
    width:1000%; height: 100%;
}
/* 상품 한개씩 뜨는 li 크기  */
.men> .boy> li,
.women> .girl> li{
    width: 100%; 
}
/* 상품 사진 div 사이즈 */
.men> .boy> li> .pic,
.women> .girl> li> .pic_two{
    width: 100%; height: 80%;
}
/* 상품 소개 div */
.men> .boy> li> .text,
.women> .girl> li> .text{
    top: 0; left: 0;
    width: 100%;
    color: black;
    background: rgba(0, 0, 0, 0);
    display: block;
    font-weight: bold;
}
/* 상품 소개 div 에 있는 p태그 */
.men> .boy> li> .text> p,
.women> .girl> li> .text> p{
    margin-left: 16%;
}
/*  상품 소개 div 에 있는 p태그 중 첫번째 태그 */
.men> .boy> li> .text> p:first-child,
.women> .girl> li> .text> p:first-child{
    margin-top: 460px;
}
/* 왼쪽 화살표 */
.le,
.left{
    top: 700px; left:3%;
}
/* 오른쪽 화살표 */
.ri,
.right{
    top: 700px; right:6%;
}
/* HOME DECORATION 위치 */
.home_deco{
    top: 100px;
}
/* HOME DECORATION p태그 */
.home_deco> .homeTex>p{
    width: 90%;
    border: 0px solid black;
    font-size: 1.2rem;
}
/* HOME DECORATION p태그 첫번째 태그 */
.home_deco> .homeTex>p:first-child{
    margin: 40px auto;
    font-size: 2rem;
}
/* HOME DECORATION p태그 두번째 태그 */
.home_deco> .homeTex>p:nth-child(2){
    height: 40px;
}
/* HOME DECORATION p태그 세번째 태그 */
.home_deco> .homeTex>p:nth-child(3){
    width: 90%;
    height: 70px;
}
/* HOME DECORATION p태그 네번째 태그 */
.home_deco> .homeTex>p:nth-child(4){
    height: 90px;
}
/* HOME DECORATION p태그 다섯번째 태그 */
.home_deco> .homeTex>p:nth-child(5){
    width: 60%; height: 40px; 
    line-height: 40px;
}
/* HOME DECORATION 클릭스 나오는 상세메뉴 */
.home_deco> .homeTex> .homeTex_more{
    width: 60%; height: 40px;
    margin: 10px auto;
}
/* "h&m place" 글씨 */
.searche{
    width: 70%; height: 60px;
    border: 0px solid black;
    margin-top: 200px;
}
/* 모바일버전 h&m place */
.map{
    position: absolute;
    top: 1740px;
    width: 100%; height:900px;
    border:0px solid blue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* h&m place 위치 div */
.map> div{
    width: 30%; height: 130px;
    border: 0px solid black;
    border-bottom: 1px solid black;
}
/* h&m place에서 p태그 */
.map> div>p{
    font-size: 0.8rem;
}
/* h&m place p태그 첫번째 */
.map> div>p:first-child{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.big{
    display: none;
}
/* footer 시작 */
.big4{
    display: block;
    top: 2690px;
    height: 540px;
}
/* footer div */
.big4>div{
    width: 100%; height: 210px;
    border: 0px solid red;
}
/* footer p태그 */
.big4> div> p{
    width: 90%; height:30px;
    font-size: 1rem;
    margin-left: 5%;
}
/* footer p태그 첫번째 */
.big4> div> p:first-child{
    margin-top: 30px;
}
/* footer p태그 마지막태그 */
.big4> div> p:last-child{
    height: 50px;
}
/* footer 에서 두번째 항목(ex:카테고리, men, women 등) */
.big4> .footer{
    height: 290px;
}
/* 카테고리, 고객지원, 기업정보 각각 div */
.big4> .footer> div{
    width: 20%; height: 240px;
    margin-top: 20px;
    margin-left: 3%;
}
/* 카테고리, 고객지원, 기업정보 */
.big4> .footer> div:first-child{
    width: 20%;
}
/* footer 마지막div의 5번째 p태그, 3번째div의 2번째 p태그 길이 */
.big4> .footer> div:first-child> p:nth-child(5),
.big4> .footer> div:nth-child(3)> p:nth-child(2){
    height: 47px;
}
/* footer 에서 카테고리, 고객지원, 기업정보 글씨 */
.big4> .footer> div> p:first-child{
    font-size: 1.2rem;
}
/* sns표시 */
.big4> .footer> .sns{
    width: 20%;
    margin-left: 3%;
}
/* sns표시 크기 */
.big4> .footer> .sns> div{
    width: 40%; 
    font-size: 1.6rem;
}
/* "top" 표시 */
.top{
    left: 86%;
    width: 12%; height: 60px;
}
.sports,
.care{
    display: none;
}
