/* 폰트 */
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 슬라이드 이미지 ul 크기와 포지션 */
.picture{
    position: relative;
    top: 0; left: 15%;
    width: 70%; height: 600px;
    border: 0px solid black;
    overflow: hidden;
}
/* 슬라이드 애니메이션 */
.picture> .animation{
    position: absolute;
    top: 0; left: 0;
    width: 400%; height: 100%;
    display: flex;
    border: 0px solid black;
    animation: animation_ani 10s linear infinite; 
}
@keyframes  animation_ani {
    0% {left: 0%;}
    10%{left: 0%;}
    20%{left: -100%;}
    30%{left: -100%;}
    40%{left: -100%;}
    50%{left: -100%;}
    60%{left: -200%;}
    70%{left: -200%;}
    80%{left: -200%;}
    90%{left: -300%;}
    100% {left: -300%;}
}
/* 슬라이드 이미지 ul안에 li 크기 */
.picture> .animation> li{
    width: 25%; height: 100%;
    border: 0px solid red;
}
/* 슬라이드 li 안에 이미지 크기  */
.picture> .animation> li> img{
   width: 100%; height: 100%;
}
/* "new" 글씨 */
.new{
    width: 15%; height: 60px;
    border: 0px solid blue;
    text-align: center;
    line-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 20px; 
    margin-left: 42%;
}
/* new의 메뉴(men, women) 전체 ul */
.gender{
    width: 20%; height: 50px;
    border: 0px solid black;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}
/* new의 메뉴(men, women)  li */
.gender> li{
    width: 40%; height: 40px;
    border: 0px solid black;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
    cursor: pointer;
}
/* new메뉴 중 men의 배경색 */
.gender> .gender0{
    background: rgba(236, 229, 229, 0.76);
    font-weight: bold;
}
/* men, women 마우스 오버 했을 때 */
.gender> .gg:hover{
    border: 1px solid rgba(236, 229, 229, 0.76);
}
/* 메뉴 men,women 클릭시 나오는 div  */
.men,
.women{
    position: relative;
    top: 50px; left: 5%;
    width: 90%; height: 500px;
    border: 0px solid black;
    overflow: hidden;
}
.women{
    display: none;
}
/* 메뉴 men,women 의  div 안에 이미지 */
.men> .boy,
.women> .girl{
    position: absolute;
    top: 0; left: 0;
    width:250%; height: 100%;
    display: flex; 
}
/* men, women 클릭시 나오는 이미지,
마우스를 오버했을때  나오는 글씨가 들어있는 li  */
.men> .boy> li,
.women> .girl> li{
    position: relative;
    top: 0; left: 0;
    width: 25%; height: 100%;
    border: 0px solid black;
    cursor: pointer; 
    text-align: center;
}
/* men, women 클릭시 뜨는 이미지 */
.men> .boy> li> .pic,
.women> .girl> li> .pic_two{
    width: 90%; height: 100%;
    border: 0px solid black;
    margin: 0 auto;
}
.men> .boy> li> .pic> img,
.women> .girl> li> .pic_two> img{
    width: 100%;
    height: 100%;
}
/* men, women 이미지 마우스 오버했을때 글씨 들어가는 div */
.men> .boy> li> .text,
.women> .girl> li> .text{
    position: absolute;
    top: 0; left: 5%;
    width: 90%; height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    display: none;
}
/* men, women 이미지 마우스 오버했을 때 글씨 */
.men> .boy> li> .text> p,
.women> .girl> li> .text> p{
    width: 70%; height:40px;
    border: 0px solid white;
    text-align: center;
    margin-left: 50px;
}
/* men, women 마우스 오버 햇을때 첫번째 글씨 위 여백 */
.men> .boy> li> .text> p:first-child,
.women> .girl> li> .text> p:first-child{
    margin-top: 300px;
}
/* 마우스 오버 전에 글씨 안뜨게 하기 */
.men> .boy> li:hover .text,
.women> .girl> li:hover .text{
    display: block;
}
/* 왼쪽, 오른쪽 화살표 */
.le,
.ri,
.left,
.right{
    position: absolute;
    width: 3%; height: 60px;
    border: 0px solid blue;
    text-align: center;
    line-height: 60px;
    font-size: 3rem;
    color: rgba(161, 156, 156, 0.76);
    cursor: pointer;
}
/* 화살표 위치 */
.le,
.left{
    top: 1200px; left: 1%;
}
.ri,
.right{
    top: 1200px; right: 1%;
}
/* women을 클릭전엔 women의 화살표 안보이게 하기 */
.left,
.right{
    display: none;
}
/* home deco 전체적인 틀 */
.home_deco{
    position: relative;
    top: 170px; left: 0;
    width: 100%; height: 600px;
    border: 0px solid black;
}
/* home deco에 div와 백그라운드 이미지  */
.home_deco> div,
.home_deco>div>img{
    width: 100%; height: 100%;
}
/* home deco 글씨들어가는 div */
.home_deco> .homeTex{
    position:absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}
/* home deco 글씨 p태그 */
.home_deco> .homeTex>p{
    width: 60%; height: 60px;
    border: 0px solid black;
    margin: 0px auto;
    font-size: 1.3rem;
}
/* home deco 글씨 p태그 첫번째 */
.home_deco> .homeTex>p:first-child{
    margin: 60px auto;
    font-size: 3rem;
    font-weight: bold;
}
/* home deco 글씨 p태그 다섯번째 */
.home_deco> .homeTex> p:nth-child(5){
    cursor: pointer;
    width: 20%; 
    background: rgba(0, 0, 0, 0.9);
    line-height: 60px;
}
/* home deco 글씨 p태그 다섯번째 "more"버튼 마우스 오버했을 때 */
.home_deco> .homeTex> p:nth-child(5):hover{
    background: white;
    color: black;
}
/* home deco "more"버튼 클릭시 나오는 상세메뉴 */
.home_deco> .homeTex> .homeTex_more{
    width: 20%; height: 40px;
    border: 0px solid white;
    margin: 20px auto;
    display: none;
}
/* home deco "more"버튼 클릭시 나오는 상세메뉴의 li */
.home_deco> .homeTex> .homeTex_more> li{
    width: 100%; height: 100%;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
/* home deco "more"버튼 클릭시 나오는 상세메뉴 링크 a태그 */
.home_deco> .homeTex> .homeTex_more> li> a{
    width: 30%; height: 100%;
    border: 0px solid white;
}
/* home deco "more"버튼 클릭시 나오는 상세메뉴 글씨인 p태그 */
.home_deco> .homeTex> .homeTex_more> li> a> p {
    width: 100%; height: 100%;
    color: white;
    background: black;
}
/* home deco "more"버튼 클릭시 나오는 상세메뉴 마우스 오버했을때 바뀌는 배경색과 글씨색 */
.home_deco> .homeTex> .homeTex_more>li> a:hover p{
    color: black;
    background: white;
}
/* "h&m sports" 글씨 */
.sport_text{
    width: 30%; height: 60px;
    border: 0px solid black;
    margin: 260px 63% 0 7%;
    font-size: 3rem;
    font-weight: bold;
}
/* sports문구 h&m글씨 빨간색 */
.sport_text> span{
    color: red;
}
/* sports 항목 div */
.sports{
    width: 80%; height: 490px;
    border: 0px solid black;
    margin-left: 7%;
    display: flex;
}
/* sports 큰이미지 들어가는 div */
.sports> .sporst_first{
    width: 40%; height: 100%;
    border: 0px solid black;
}
/* sports 이미지 크기 */
.sports> .sporst_first> img{
    width: 100%; height: 100%;
}
/* sports 글씨,작은 이미지 들어가는 부분 */
.sports> .sports_second{
    width: 50%; height: 100%;
    border: 0px solid black;
}
/* sports 작은이미지 */
.sports> .sports_second> div:first-child{
    width: 100%; height: 220px;
    border: 0px solid red;
}
/* sports 작은이미지 크기 */
.sports> .sports_second> div:first-child> img{
    width: 100%; height: 100%;
}
/* sports 글씨 div */
.sports> .sports_second> .sports_ptag{
    width: 90%; height: 210px;
    margin-top: 40px;
    margin-left: 10%;
    border: 0px solid black;
}
/* sports 글씨 p태그 */
.sports> .sports_second> .sports_ptag> p{
    width: 100%; 
    border: 0px solid black;
    font-family: 'NanumSquareRound';
    font-size: 0.8rem;
    color: rgb(93, 89, 89);
}
/* sports "more"버튼 */
.sports> .sports_second> .sports_ptag> #sportsweb_more{
    width: 10%;
    margin-top: 10px;
    cursor: pointer;
}
/*  sports "more"버튼 마우스오버했을때, "more"클릭했을떄 상세메뉴 마우스 오버했을때 */
.sports> .sports_second> .sports_ptag> #sportsweb_more:hover,
.sports> .sports_second> .sports_ptag> .sports_more> li>a:hover{
    border: 1px solid #ccc;
    border-radius: 20px;
}
/* "more"클릭했을떄 상세메뉴 */
.sports> .sports_second> .sports_ptag> .sports_more{
    width: 30%; 
    display: none;
}
/* "more"클릭했을떄 상세메뉴 각각 li */
.sports> .sports_second> .sports_ptag> .sports_more> li{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;
}
/* 상세메뉴 링크 */
.sports> .sports_second> .sports_ptag> .sports_more> li> a{
    width: 40%; height: 100%;
    font-family: 'NanumSquareRound';
    font-size: 0.8rem;
    color: rgb(93, 89, 89);
    margin-top: 10px;
}
/* "take h&m care" 글씨 */
.care_text{
    width: 30%; height: 60px;
    border: 0px solid black;
    margin: 100px 7% 0 63%;
    font-size: 3rem;
    font-weight: bold;
}
/* "take" 빨강색 폰트 */
.care_text> span{
    color: red;
}
/* take care 큰 div */
.care{
    width: 80%; height: 490px;
    border: 0px solid black;
    margin-left: 9%;
    display: flex;
    justify-content: space-between;
}
/* take care에서 글씨, 이미지2개 */
.care> .care_first{
    width: 56%;
}
/* take care에서 글씨 */
.care> .care_first> .carePtag{
    width: 90%; height: 100px;
    border: 0px solid black;
    margin: 20px auto;
    font-family: 'NanumSquareRound';
    font-size: 0.8rem;
    color: rgb(93, 89, 89);
}
/* take care "more"버튼 */
.care> .care_first> .carePtag> #tak_more{
    width: 10%;
    margin-top:10px;
    cursor: pointer;
}
/* take care "more"버튼 마우스오버,
take care "more" 버튼 마우스 오버했을 때 나오는 상세메뉴 각각 li 마우스 오버했을때  */
.care> .care_first> .carePtag> #tak_more:hover,
.care> .care_first> .carePtag> .care_more> li> a:hover
{
    border: 1px solid #ccc;
    border-radius: 20px;
}
/* take care "more" 버튼 마우스 오버했을 때 나오는 상세메뉴 */
.care> .care_first> .carePtag> .care_more{
    width: 60%; height: 30px;
    display: none;
}
/* take care "more" 버튼 마우스 오버했을 때 나오는 상세메뉴 li */
.care> .care_first> .carePtag> .care_more> li{
    display: flex;
    justify-content: space-between;
}
/* take care "more" 버튼 클릭했을때 나오는 상세메뉴 링크 */
.care> .care_first> .carePtag> .care_more> li> a{
    width: 40%;
    color: rgb(93, 89, 89);
    margin-top: 10px;
}
/* take care 작은 이미지2개 */
.care> .care_first> .carepictwo{
    width: 100%; height: 300px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
/* take care 작은이미지 2개 각각 div */
.care> .care_first> .carepictwo> div{
    width: 48%; height: 100%;
}
/*  take care 작은 이미지 크기 */
.care> .care_first> .carepictwo> div> img{
    width: 100%; height: 100%;
}
/*  take care 큰 이미지 */
.care> .care_second{
    width: 40%; height: 100%;
}
/*  take care 큰 이미지 크기 */
.care> .care_second> img{
    width: 100%; height: 100%;
}
/* "H&M PLACE" 글씨 */
.searche{
    width: 40%; height: 50px;
    border: 0px solid black;
    margin: 130px auto;
    font-size: 3rem;
    font-family: hy견고딕;
    text-align: center;
}
/*  "H&M PLACE" 빨간색 글씨 */
.searche> span{
    color: red;
}
/*  "H&M PLACE"와 footer 공통 class */
.big {
    position: absolute;
    width: 100%; height: 270px;
    border:0px solid blue;
    display: flex;
    justify-content: space-evenly;
}
/* footer 와 H&M PLACE div */
.big> div{
    width: 13%; height: 100%;
    border: 0px solid black;
}
/*  H&M PLACE와 footer p태그 */
.big> div>p{
    width: 95%;height: 160px;
    border:0px solid blue;
    margin-left: 3%;
}
/*  H&M PLACE */
.big1> div>p:first-child,
.big2> div>p:first-child,
.big3> div>p:first-child{
    height: 70px;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.big1 {
    top: 3700px;
    background: #F5EFE6;
}
.big2{
    top: 3970px;
    background: #E8DFCA;
}
.big3{
    top: 4240px;
    background: #AEBDCA;
}
/* footer */
.big4 {
    top: 4600px;
    height: 360px;
    justify-content: space-between;
    background: black;
    color: white;
    flex-wrap: wrap;
}
/* footer div */
.big4> div{
    width: 49%; height: 100%;
    border: 0px solid red;
}
/* footer 글씨 */
.big4> div>p{
    width: 80%;height:40px;
    border:0px solid blue;
    margin-left: 20%;
    cursor: default;
    font-family: 'NanumSquareRound';
}
/* footer 첫번째글씨 위치 */
.big4> div> p:first-child{
    margin-top: 70px;
}
/* footer 각각(카테고리, 고객지원, 기업정보) */
.big4> .footer{
    display: flex;
}
/* footer 각각(카테고리, 고객지원, 기업정보) div */
.big4> .footer> div{
    width: 20%; height: 210px;
    border:0px solid red;
    margin-top: 70px;
    text-align: center;
}
/* footer 각각(카테고리, 고객지원, 기업정보) div 첫번째 */
.big4> .footer> div:first-child{
    width: 22%;
}
/* footer 각각(카테고리, 고객지원, 기업정보) p태그 */
.big4> .footer> div> p {
    width: 100%; height: 30px;
    border: 0px solid red;
    cursor: pointer;
    font-family: 'NanumSquareRound';
}
/* footer 각각(카테고리, 고객지원, 기업정보) p태그 첫번째 */
.big4> .footer> div> p:first-child{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: default;
}
/* footer sns 이모티콘 */
.big4> .footer> .sns{
    width:20%; height: 50px;
    display: flex;
    border:0px solid white;
}
/* footer sns 이모티콘 div */
.big4> .footer> .sns> div{
    width: 30%; height: 100%;
    font-size: 2rem;
    cursor: pointer;
}
/* "top" 버튼 */
.top{
    position: fixed;
    top: 90%; left: 94%;
    width: 4%; height: 60px;
    border-radius: 50%;
    background: black;
    color: white;
    cursor: pointer;
}
/* "top" 글씨 */
.top> p{
    width: 100%; height: 100%;
    line-height: 60px;
    text-align: center;
    font-weight: bold;
}
.at1,
.map,
.sport_m,
.take_mobile{
    display: none;
}

