/* MAGAJIN 내용 들어있는 각각의 article */
.at3,
.at4,
.at5,
.at6,
.at7,
.at8{
    width: 100%; height: 600px;
    border: 0px solid blue;
}
/* 각각의 article 안에 있는 div */
.at3> div,
.at4> div,
.at5> div,
.at6> div,
.at7> div,
.at8> div{
    width: 100%; height: 50%;
    border: 0px solid red;
}
/* 작은 글씨 */
.at3> div:last-child,
.at4> div:last-child,
.at5> div:last-child,
.at6> div:last-child,
.at7> div:last-child,
.at8> div:last-child{
    width: 100%;
    margin-top: 20px;
}
/* 큰 글씨 */
.at3> .right> p:first-child,
.at4> .right> p:first-child,
.at5> .right> p:first-child,
.at6> .right> p:first-child,
.at7> .right> p:first-child,
.at8> .right> p:first-child{
    font-size: 1.6rem;
}

