.top{
    width: 100%; height: 70px;
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 70px;
}
/* 이미지 문구 시작 */
.one{
    width: 95%; height: 2100px;
    border: 0px solid black;
    margin: 50px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.one> ul{
    width: 29%; height: 700px;
    border: 0px solid black;
}
.one> ul> li{
    width: 100%; height: 100px;
}
.one> ul> .img{
    position: relative;
    top: 0; left: 0;
    width: 100%; height: 600px;
    border: 0px solid black;
    cursor: pointer;
}
.one> ul> .img> div{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.one> ul> .img> div>img{
    width: 100%; height: 100%;
}
.one> ul> .img> .hover{
    display: none;
}
.one> ul> .img:hover .hover{
    display: block;
}
.one> ul> li> p{
    width: 80%; height: 30px;
    border: 0px solid blue;
}
.one> ul> li> p:last-child{
    font-weight: bold;
}
.at1{
    display: none;
}


