/* 상단에 큰 글씨(MAGAJIN) */
.top{
    width: 100%; height: 70px;
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 70px;
}
/* 상품 */
.one{
    width: 95%; height: 2100px;
    border: 0px solid black;
    margin: 50px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
/* 상품3개 있는 줄 */
.one> ul{
    width: 29%; height: 700px;
    border: 0px solid black;
}
/* 줄에서 각각의 상품 */
.one> ul> li{
    width: 100%; height: 100px;
}
/* 상품 사진이 들어가는 li */
.one> ul> .img{
    position: relative;
    top: 0; left: 0;
    width: 100%; height: 600px;
    border: 0px solid black;
    cursor: pointer;
}
/* li중 일반 사진과 마우스오버했을때 들어가는 사진이 있는 div2개  */
.one> ul> .img> div{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
/* 사진 크기 */
.one> ul> .img> div>img{
    width: 100%; height: 100%;
}
/* 마우스 오버했을때 들어가는 사진 마우스오버전엔 안보이게하기 */
.one> ul> .img> .hover{
    display: none;
}
/* 마우스 오버했을때 다른 사진 나오게 하기  */
.one> ul> .img:hover .hover{
    display: block;
}
/* 상품 설명 p태그 */
.one> ul> li> p{
    width: 80%; height: 30px;
    border: 0px solid blue;
}
/* 상품 설명 중 마지막p태그 */
.one> ul> li> p:last-child{
    font-weight: bold;
}
.at1{
    display: none;
}


