/*  상품이 있는 박스 */
.one{
    height: 2200px;
}
/* 상품이 표시되는 ul */
.one> ul{
    width: 48%; height: 510px;
}
/* 상품 사진이랑 글씨 li */
.one> ul> li{
    width: 100%; height: 130px;
}
/* 사진이랑 글씨 li 중에 사진 li */
.one> ul> .img{
    height: 390px;
}
/* 상품 설명 p태그  */
.one> ul>li>p{
    width: 100%; height: 47px;
}
/* 상품 설명 p태그 중 마지막p태그 */
.one> ul>li>p:last-child{
    height: 30px;
}
