/*  상품이 있는 박스 */
.one{
    height: 1600px;
}
/* 상품이 표시되는 ul */
.one> ul{
    width: 48%; height: 490px;
}
/* 사진이랑 글씨 li 중에 사진 li */
.one> ul> .img{
    height: 370px;
}
/* 상품 설명 p태그  */
.one> ul>li>p{
    width: 100%;
}
/* 상품 설명 p태그 중에 첫번째, 두번쨰 p태그 */
.one> ul>li>p:first-child,
.one> ul>li>p:nth-child(2){
    height: 40px;
}
