.top{
    width: 100%; height: 70px;
    border-bottom: 3px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 70px;
}
.choice{
    width: 20%; height: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: space-evenly;
    margin: 10px auto;
}
.choice> p{
    width: 40%; height: 100%;
    border: 0px solid black;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
    cursor: pointer;
}
.choice> p:first-child{
    color: white;
    background: black;
}
.choice> p:hover{
    border: 1px solid black;
}
/* 이미지 문구 시작 */
.one,
.two {
    width: 95%; height: 2100px;
    border: 0px solid black;
    margin: 50px auto;
}
.one> .box,
.two> .two_box{
    width: 100%; height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.one> .box> ul,
.two>.two_box> ul{
    width: 29%; height: 700px;
    border: 0px solid black;
}
.one> .box> ul> li,
.two>.two_box> ul> li{
    width: 100%; height: 100px;
}
.one> .box> ul> .img,
.two>.two_box> ul> .two_img{
    position: relative;
    top: 0; left: 0;
    width: 100%; height: 600px;
    border: 0px solid black;
    cursor: pointer;
}
.one> .box> ul> .img> div,
.two>.two_box> ul> .two_img> div{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.one> .box> ul> .img> div>img,
.two>.two_box> ul> .two_img> div>img{
    width: 100%; height: 100%;
}
.one> .box> ul> .img> .hover,
.two>.two_box> ul> .two_img> .two_hover{
    display: none;
}
.one> .box> ul> .img:hover .hover,
.two>.two_box> ul> .two_img:hover .two_hover{
    display: block;
}
.one> .box> ul> li> p,
.two>.two_box> ul> li> p{
    width: 80%; height: 30px;
    border: 0px solid blue;
    text-indent: 10px;
}
.one> .box>ul> li> p:last-child,
.two>.two_box> ul> li> p:last-child{
    font-weight: bold;
}

.at1{
    display: none;
}
.two{
    display: none;
}

