/* shoes/acc 메뉴 바 */
.choice{
    width: 40%;
}
/* 상품(shoes)이 있는 박스 */
.one{
    height: 2400px;
}
/* 상품이 표시되는 ul */
.one>.box> ul,
.two>.two_box> ul{
    width: 48%; height: 490px;
}
/* 상품사진 */
.one> .box> ul> .img,
.two>.two_box> ul> .two_img{
    height: 400px;
}
/* 상품설명 */
.one>.box> ul> li> p,
.two>.two_box> ul> li> p{
    width: 100%;
    text-indent: 0;
}
/* 상품설명 중 마지막p태그 */
.one>.box> ul> li> p:nth-child(2),
.two>.two_box> ul> li> p:nth-child(2){
    height: 40px;
}